button {
    all: unset;
    box-sizing: border-box;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;

    font-size: 14px;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 14px;
}

.btn-xs {
    height: 38px;

}

.btn-s {
    height: 42px;
}

.btn-l {
    height: 48px;
}

.btn-purple {
    background-color: #7978D9;
    color: white;
}

.btn-blue {
    background-color: #3A9FF1;
    color: white;
}

.btn-red {
    background-color: #FF576B;
    color: white;
}

.btn-white {
    background-color: #FAFAFA;
    color: black;
}