.container-signup {
        background-image: url('../../assets/background.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;

        display: flex;
        align-items: center;
        justify-content: center;

        position: relative;

        font-family: 'Rubik', sans-serif;
}

.content-signup {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 50px;
}

.content-signup form {
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 24px;
        min-height: 420px;
        width: 400px;
}

.content-signup h2 {
        color: #7978D9;
        font-weight: 500;
}

.content-signup button {
        margin-top: 52px;
}

.content-signup form a {
        font-size: 12px;
        margin-top: 12px;
        font-weight: bold;
        text-decoration: none;
        font-family: 'Lato', sans-serif;
}